@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        var user = await UserManager.FindByNameAsync(User.Identity?.Name);
        var fullName = user.FirstName + ' ' + user.LastName;
        var profilePicture = user.ProfilePicture;

    <li class="nav-item">
        @if(profilePicture != null){
                <img width="100" length="100" id="profilePicture" alt="Profile Pic" src="data:image/*;base64,@(Convert.ToBase64String(profilePicture))" />

        }

        else
        {
            <img width="100" length="100" id="profilePicture" alt="Profile Pic" src="~/images/Profile_avatar_placeholder_large.png" />
        }
    </li>

    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello  @fullName</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
